<table class="mcfly-packages-table">
  <tr>
    <th>Package</th>
    <th>NPM</th>
    <th>Description</th>
    <th>GitHub</th>
  </tr>
  <tr>
    <td>@mcflyjs/core</td>
    <td>Core package containing event and configuration handlers</td>
    <td><a href="https://ayco.io/n/@mcflyjs/core">link</a></td>
    <td><a href="">link</a></td>
  </tr>
  <tr>
    <td>@mcflyjs/config</td>
    <td>Package containing the Nitro configuration for McFly apps</td>
    <td><a href="https://ayco.io/n/@mcflyjs/config">link</a></td>
    <td><a href="">link</a></td>
  </tr>
  <tr>
    <td>@mcflyjs/cli</td>
    <td>The McFly CLI tooling</td>
    <td><a href="https://ayco.io/n/@mcflyjs/cli">link</a></td>
    <td><a href="">link</a></td>
  </tr>
  <tr>
    <td>create-mcfly</td>
    <td>Create script for scaffolding McFly projects</td>
    <td><a href="https://ayco.io/n/create-mcfly">link</a></td>
    <td><a href="">link</a></td>
  </tr>
</table>

<style>
  .mcfly-packages-table,
  .mcfly-packages-table th,
  .mcfly-packages-table td {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ddd;
  }
  .mcfly-packages-table th,
  .mcfly-packages-table td {
    padding: 0.5em;
  }
</style>
